/* General */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

body {
  background-color: #f1f1f1;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

h1 {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  padding-top: 27px;
}
h2 {
  font-size: 25px;
  font-weight: bold;
  padding-top: 23px;
}
h3 {
  font-size: 18px;
  margin-top: 13px;
}

/* Header */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
header {
  height: 160px;
  background-color: white;
}

header p {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}

/* Nav */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

nav {
  height: 50px;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
}

.col1 {
  display: flex;
}

a {
  font-size: 20px;
  color: white;
  margin: 13px 25px;
  text-decoration: none;
}

/* Main Content */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.content {
  background-color: #fff;
  flex: 1;
  height: 406px;
  margin-top: 20px;
  margin-right: 30px;
}

.padding {
  padding-left: 30px;
}

.picture {
  width: 890px;
  height: 150px;
  margin-top: 23px;
}

p {
  font-size: 18px;
  margin-top: 28px;
}

/* Side Content */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.sideContent {
  height: 346px;
  background-color: white;
  margin-top: 20px;
}
.sideTitle {
  margin-left: 25px;
}
.pictureSide {
  height: 179px;
  width: 255px;
  margin: 22px;
}

.descSide {
  margin-left: 26px;
  /* margin-top: 25px; */
}

section {
  display: flex;
}
footer {
  margin-top: 59px;
  background-color: #dddddd;
  height: 63px;
  display: flex;
  justify-content: center;
}

footer > p {
  text-align: center;
}
.bold {
  font-weight: bold;
}
